@model Entertainment_Lib.Models.TVProgram
@{
    // If the model id is 0, then this is a new one
    // because the id of type "int", which has 0 as
    // its default value
    if (Model.Id == 0)
    {
        // Set title of the page to "New"
        ViewBag.Title = "New";
    }
    else
    {
        // Else, this is an edit case, set the
        // title to "Edit"
        ViewBag.Title = "Edit";
    }
    // The css file of the page
    ViewBag.Css = "~/Content/tvprograms_new.css";
}

<h2>@ViewBag.Title TV program</h2>

@using (Html.BeginForm("Save", "TVProgram"))
{
    // Validation summary to list all validation errors
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    // Name of the TV program input field
    @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    // Description of the TV program textarea
    @Html.TextAreaFor(m => m.Description, new { placeholder = "Description" })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

    // Hidden inputs to hold data needed
    // when submitting the form to complete
    // the model
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Owner.Id)
    
    // Submit button
    <input type="submit" value="Save" class="submitBtn" />
}