<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Entertainment Lib</title>
    @Styles.Render("~/Content/css")
    @(ViewBag.Css == null ? null : Styles.Render(ViewBag.Css))
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Navbar")

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    <script src="https://kit.fontawesome.com/a467a599ad.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var togglerBtn = $("nav i");

            togglerBtn.click(function () {
                if (togglerBtn.hasClass("fa-bars")) {
                    togglerBtn.removeClass("fa-bars");
                    togglerBtn.addClass("fa-times");
                } else {
                    togglerBtn.removeClass("fa-times");
                    togglerBtn.addClass("fa-bars");
                }

                $("nav ul").toggleClass("displayed");
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
