@using Entertainment_Lib.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.Css = "~/Content/login.css";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2>@ViewBag.Title</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" });
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    <label class="checkbox-wrapper">
        @Html.CheckBoxFor(m => m.RememberMe) Rememeber me?
        <span class="checkmark"></span>
    </label>

    <input type="submit" value="Log in" class="submitBtn" />

    @Html.ActionLink("Register as a new user", "Register")

    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}